<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% for(let i = 0; i < zebra.length; i++) { %> <!-- Looping through the array returned from the database -->
        <li class='todoItem'>
            <% if(zebra[i].completed === true) {%> <!-- checking if the completed property is true -->
            <span class="completed"><%= zebra[i].todo %></span> <!--if it's true give it class completed and put the info into the ul as li-->
            <% }else{ %>
            <span><%= zebra[i].todo %></span> <!-- If it's not just put the info into the ul as li-->
            <% } %>   
            <span class='del'> Delete </span> <!-- add the delete span so we can delete content later -->
        </li>
    <% } %>    
    </ul>

    <h2>Things left to do: <%= left %></h2> <!-- keeps a count of things that aren't marked as completed = true -->

    <form action="/createTodo" method='POST'> <!-- defines action to call from server and tells the server it's making a post request-->
        <input type="text" placeholder="Enter Todo Item" name='todoItem'> <!--the input for text-->
        <input type="submit"> <!--the submit button-->
    </form>

    <script src="js/main.js"></script>
</body>
</html>