<!DOCTYPE html> <!--The ejs, which is a templating language that generates HTML markup with plain JavaScript-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% for(let i = 0; i < zebra.length; i++) { %> <!--Within an ejs file, you can input javascript by adding it within simple ejs syntax. This line starts a for loops through the zebras array -->
        <li class='todoItem'>
            <% if(zebra[i].completed === true) {%> <!--A conditional that states if the array at index i has its completed property of true in the database, do the follow:-->
            <span class="completed"><%= zebra[i].todo %></span> <!--Adds a span to the li that has a class of "completed"-->
            <% }else{ %> <!--If completed is false...-->
            <span><%= zebra[i].todo %></span> <!--Add a span that does not contain a classname-->
            <% } %>   <!--End conditional-->
            <span class='del'> Delete </span>
        </li>
    <% } %>    <!--End loop-->
    </ul>

    <h2>Things left to do: <%= left %></h2> <!--Adds the amount of tasks left to do in the list (from the array items left) and displays it in the h2-->

    <form action="/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>