<!DOCTYPE html><!-- Declaring that the doc is html -->
<html lang="en"><!-- Declaring that the language in this is english -->
<head><!-- Beginning of the head section of the doc. -->
    <meta charset="UTF-8"><!-- Determines the character set used. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Making this compatible with something in regards to http? -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Determining the width and scale of the viewport. -->
    <title>Document</title><!-- Title of doc. -->
    <link rel="stylesheet" href="css/style.css"><!-- Attaching the css stylesheet. -->
</head><!-- End of the head section of the doc. -->
<body><!-- Beginning of the body section of the doc. -->
    <h1>Todos</h1><!-- The most important heading. -->
    <ul><!-- Beginning the unordered list. -->
    <% for(let i = 0; i < zebra.length; i++) { %><!-- The first JS in the EJS. Starting a for loop with the iterations starting at 0 and going until zebra.length. -->
        <li class='todoItem'><!-- This will run each iteration of the for loop. Declaring the first and only list item and is class. -->
            <% if(zebra[i].completed === true) {%><!-- If an item in zebra is completed, then -->
            <span class="completed"><%= zebra[i].todo %></span><!-- Put the completed class on it. -->
            <% }else{ %><!-- Or else -->
            <span><%= zebra[i].todo %></span><!-- This span item is an item in the zebra array that has the todo class attached to it? -->
            <% } %>   <!-- End of EJS item. -->
            <span class='del'> Delete </span> <!-- Adding a span with the class of del and content of 'Delete' -->
        </li><!-- End of list item/ -->
    <% } %><!-- End of EJS item. -->
    </ul><!-- End of the unordered list. -->

    <h2>Things left to do: <%= left %></h2><!-- Making an h2 have some EJS that says 'left'. I don't know if this is a class or not? -->

    <form action="/createTodo" method='POST'><!-- Making a form whose action will lead to the /createTodo page and the method is POST. -->
        <input type="text" placeholder="Enter Todo Item" name='todoItem'><!-- The input type is a text, the placeholder text is 'Enter Todo Item', and its name is 'todoItem.' -->
        <input type="submit"><!-- The type of the input is submit. -->
    </form><!-- End of form. -->

    <script src="js/main.js"></script><!-- Attaching the js sheet to this. -->
</body><!-- End of the body section of the doc. -->
</html><!-- End of html doc. -->
