<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>ToDoList</title>
</head>
<body>
    <h1> ToDo's</h1>
    <ul>
        <% for(let i = 0; i<zebra.length; i++) {%>
            <li class="todoItem">
                <% if(zebra[i].completed === true) {%> 
                <span class="completed"><%= zebra[i].todo %></span> 
                <% }else{ %>
                <span><%= zebra[i].todo %></span> 
                <% } %>
                <span class="del">delete</span>
            </li>
        <% } %>
    <ul>
    <h2>Things left todo: <%= left %></h2>

    <form action="/createTodo" method="POST">
        <input type="text" placeholder="Enter Todo Item " name="todoItem">
        <input type="submit">
    </form>
    <script src="js/main.js" ></script>
</body>
</html>

