<!DOCTYPE html> <!-- i love the way html comments look -->
<html lang="en"> <!-- this page is in english -->
<head> <!-- the stuff that doesn't show up -->
    <meta charset="UTF-8"> <!-- i think this is defining text characters -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- i do not know what this does... my insticts tell me it's a hack for people insisting on using IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- scaling for mobile users -->
    <title>Document</title> <!-- the title -->
    <link rel="stylesheet" href="css/style.css"> <!-- the style sheet-->
</head> <!-- end the stuff that doesn't show up -->
<body> <!-- the stuff that shows up-->
    <h1>Todos</h1> <!-- the header -->
    <ul> <!-- an un ordered list-->
    <% for(let i = 0; i < zebra.length; i++) { %> <!-- start a loop for as many todos as there are-->
        <li class='todoItem'> <!-- a list item-->
            <% if(zebra[i].completed === true) {%> <!-- do this if it's marked complete-->
            <span class="completed"><%= zebra[i].todo %></span> <!-- adds styling for done todos i think-->
            <% }else{ %> <!-- or else what-->
            <span><%= zebra[i].todo %></span> <!-- dont add styling-->
            <% } %>   <!-- end if/else statement -->
            <span class='del'> Delete </span> <!--thing to click for delete route, bad accessibility-->
        </li> <!-- end list item-->
    <% } %>    <!-- end ejs -->
    </ul> <!-- end un ordered list-->

    <h2>Things left to do: <%= left %></h2> <!-- a little test code to demonstrate that mongo can count things-->

    <form action="/createTodo" method='POST'> <!-- our form!.. it's cool that html just does post method and stuff without any JS -->
        <input type="text" placeholder="Enter Todo Item" name='todoItem'> <!-- doesn't say anything about rainbowUnicorn -->
        <input type="submit"> <!-- a submit button-->
    </form> <!-- end form-->

    <script src="js/main.js"></script> <!-- link our client side js-->
</body> <!-- end the stuff that shows up-->
</html> <!-- end the dang page-->