<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="contain">
        <h1>To Do List</h1>
        <section class="addATask">
            <form action="/addTask" method="POST">
                <input type="text" placeholder="Type task here" name="toDoListItem">
                <button type="submit">Submit</button>
            </form>
        </section>
        <section class="toDo">
            <ul>
            <% for(let i = 0; i < dataItem.length; i++) { %>
                <li class="toDoListItems">
                    <% if(dataItem[i].done === true) {%>
                    <span class="done"><%= dataItem[i].toDoList %></span>
                    <% }else{ %>
                        <span><%= dataItem[i].toDoList %></span>
                    <% } %>
                    <button class="delete">Delete</button>
                </li>
            <% } %>
                <li>
                    <!--todo-list-item-->
                    <div class="todo-list-item">
                    </div>
                    <div class="ed">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div>
                </li>
            </ul>
        </section>
        <section class="complete"></section>
    </section>
</body>
<script src='js/main.js'></script>
</html>