<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% for(let i = 0; i < zebra.length; i++) { %> <!-- loop through each item of the zebra array -->
        <li class='todoItem'>
            <% if(zebra[i].completed === true) {%> <!-- if current zebra's completed value equals true -->
            <span class="completed"><%= zebra[i].todo %></span> <!-- display current zebra's todo -->
            <% }else{ %> <!-- else if current zebra's completed value doesn't equal true -->
            <span><%= zebra[i].todo %></span> <!-- display current zebra's todo -->
            <% } %>   <!-- end the if else statement -->
            <span class='del'> Delete </span>
        </li>
    <% } %> <!-- end the for loop -->
    </ul>

    <h2>Things left to do: <%= left %></h2> <!-- display number of todos left -->

    <form action="/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>