
<!-- header for html. holds all our metadata. language, script for css, keywords, a bunch of stuff. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- below is what is rendered in the DOM (body) -->
<body>
    <h1>Todos</h1>
    <ul>
        <!-- we made a for loop here that would allow us to input our data from Mongo DB, we use js in order to dynamically render various spans-->
    <% for(let i = 0; i < zebra.length; i++) { %>
        <li class='todoItem'>
            <% if(zebra[i].completed === true) {%>
            <span class="completed"><%= zebra[i].todo %></span>
            <% }else{ %>
            <span><%= zebra[i].todo %></span>
            <% } %>   
            <span class='del'> Delete </span>
        </li>
    <% } %>    
    </ul>
<!-- Im not sure how we got this count -->
    <h2>Things left to do: <%= left %></h2>

    <form action="/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>