<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <!-- Below code is ejs used to add, delete, and update objects. zebra is our array, 
        and can be added, updated as completed or not, and deleted. The for loop allows 
        us to add additional arrays (or zebras). The if statement allows us to give an 
        array the class of completed, or revoke that. If Delete is selected, this gives
        the array the class of 'delete'-->
    <ul>
    <% for(let i = 0; i < zebra.length; i++) { %>
        <li class='todoItem'>
            <% if(zebra[i].completed === true) {%>
            <span class="completed"><%= zebra[i].todo %></span>
            <% }else{ %>
            <span><%= zebra[i].todo %></span>
            <% } %>   
            <span class='del'> Delete </span>
        </li>
    <% } %>    
    </ul>
<!-- The h2 gives us a count of objects that remain in the database, linking 
        us to the 'left: itemsLeft' that we resolve and render in our app.get  -->
    <h2>Things left to do: <%= left %></h2>
<!-- This is our app.post linked to our ejs, where the createTodo function is called
        and one todo item is created in our server and saved here to the form. -->
    <form action="/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>
