/* target teh h1 and changes its color to red */
h1 {
  color: red;
}

/* targets completed class and gives it a line-through text-decor and changes its color to gray*/
.completed {
  text-decoration: line-through;
  color: gray;
}
